.row.justify-content-center
  .col-md-6
    .card.shadow-sm
      .card-body
        %h3.card-title.mb-3 Profil użytkownika

        %p.mb-1
          %strong Email:
          = @user.email

        %p.mb-1
          %strong Konto utworzono:
          = l(@user.created_at, format: :short)

        %p.mb-3
          %strong Ostatnie logowanie:
          = @user.last_sign_in_at ? l(@user.last_sign_in_at, format: :short) : "brak danych"
        = link_to "Rozmowy", conversations_path, class: "btn btn-outline-primary btn-sm me-2"
        = link_to "Edytuj konto", edit_user_registration_path, class: "btn btn-outline-info btn-sm me-2"
        = button_to "Wyloguj",
            destroy_user_session_path,
            method: :delete,
            form_class: "d-inline",
            class: "btn btn-outline-danger btn-sm ms-2"
